
<div class="row">
  <div class="small-6 large-2 columns"><br></div>
  <div class="small-6 large-8 columns">
    <div id="fridge">
      <% if @messages.empty? %>
        <h3 class="header-empty">Nothing is posted to the fridge.<br>
        Did you move in yesterday or do you just not like each other?</h3>
      <% else %>

        <% @messages.each do |message| %>
            <%= render message %>
            <% end %>
          </div>

        <% end %>

    </div>
    <div>
      <%= form_for [@house, @message || Message.new], remote: true, :html => { :multipart => true } do |f| %>
        <%= f.text_area :content, :id => "new-content"%>
        <%= f.fields_for :picture do |pic| %>
          <%= pic.file_field :picture_content %>
        <% end %>
        <%= f.submit "Post", :class => "button", :id => "submit-message" %>
      <% end %>
    </div>
  <div class="message-content-valid"></div>
  </div>
  <div class="small-12 large-2 columns"><br></div>

