<div class="row">
  <div class="large-3 columns"><br />
  </div>
  <div class="large-6 columns">
    <% provide(:title, 'Sign up')%>

    <h3><div class="page_header">Sign up</div></h3>
    <br>
    <% if flash[:error] %>
    <%= flash[:error] %>
    <% end %>

    <%= form_for :user, url: '/users', :html => { :multipart => true } do |f|%>
    <fieldset>
    <legend>Create a New Account</legend>
    <%= f.label :first_name%>
    <%= f.text_field :first_name %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
    <%= f.submit "Submit", :class => "button success"  %>
    </fieldset>
    <%end%>
    <div>
    </div>
  </div>
  <div class="large-3 columns"><br /></div>
</div>
