<h1 id="welcome-title"><%= image_tag("house-rules-logo.png", size: "75x75", id: "welcome-logo") %> Living with roommates made simple.</h1>
<fieldset>
<p>Here at House Rules we're all about making the experience of communal living a little bit less of a headache. You can create your house rules, list upcoming events, track your inventory of communally bought items, and post messages to your house. It basically serves to replace all the things you’d typically post of your fridge at home.</p>
</fieldset>
<a href="/login" class="button" id="welcome-login">Login!</a><a href="/signup" id="welcome-sign-up" class="button success">Sign up</a>
<br><br><br><br>
<table>
	<h3>About Us</h3>
  <tr>
    <td><%= link_to(image_tag("https://media.licdn.com/media/p/6/005/07f/118/141447f.jpg", height: '180', width: '180', class: ["creator_image", "circular"]), "http://www.linkedin.com/in/morganmccrory") %></td>
    <td><%= link_to(image_tag("https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAObAAAAJDRmOTA2ZGQwLTEyYmYtNDJhZC05YWQwLWEzMGFjZWQ3ZWE4Mw.jpg", height: '180', width: '180', class: ["creator_image", "circular"]), "http://www.linkedin.com/in/sarachenxiyao") %></td>
    <td><%= link_to(image_tag("https://media.licdn.com/media/AAEAAQAAAAAAAAIiAAAAJDEzNDMyODBhLTZmNmUtNGU5My04N2QyLTI3OWM1NTBmNWI2ZQ.jpg", height: '180', width: '180', class: ["creator_image", "circular"]), "http://www.linkedin.com/in/ptclegg") %></td>
    <td><%= link_to(image_tag("https://media.licdn.com/media/AAEAAQAAAAAAAAKUAAAAJDZmNDI5YTEwLWMwNjQtNDA3OC04OWZhLWE4Njg2ZGU3NTkyNg.jpg", height: '180', width: '180', class: ["creator_image", "circular"]), "http://www.linkedin.com/in/zacharyaharris") %></td>
  </tr>
  <tr>
    <td><span class="creator_name"><a href="http://www.linkedin.com/in/morganmccrory"><b>Morgan McCrory</b></a></span></td>
    <td><span class="creator_name"><a href="http://www.linkedin.com/in/sarachenxiyao"><b>Sara Chen</b></a></span></td>
    <td><span class="creator_name"><a href="http://www.linkedin.com/in/ptclegg"><b>Paul Clegg</b></a></span></td>
    <td><span class="creator_name"><a href="http://www.linkedin.com/in/zacharyaharris"><b>Zachary Harris</b></a></span></td>
  </tr>
</table>
