<%= form_for([@house, @event]) do |f| %>

  <div class="event-fields">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
    <%= f.label :start %><br />
  <div class="date-form-field">
    <%= f.datetime_select :start, :ampm => true, :minute_step => 15 %>
  </div>
  <br>
    <%= f.label :end %><br />
  <div class="date-form-field">
    <%= f.datetime_select :end, :ampm => true, :minute_step => 15 %>
  </div>
  <br>
  <div class="event-fields">
    <%= f.label :all_day %><br />
    <%= f.check_box :all_day %>
  </div>
  <div class="event-fields">
    <%= f.label :overlap %><br />
    <%= f.check_box :overlap %>
  </div>
  <div class="event-fields">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
    <%= f.submit "Submit", :class => "button" %>
<% end %>