<div class="row">
  <div class="large-3 columns"><br />
  </div>
  <div class="large-6 columns">
    <div class="item-edit">
      <h1>Edit Communal Item</h1>

      <%= form_for [@house, @item] do |f|%>
    <fieldset>
    <legend>Create a New Message</legend>
      <%= f.label :name, "Item name" %><br>
        <%= f.text_field :name %>
        <%= f.label :brand %><br>
        <%= f.text_field :brand %>
        <%= f.label :quantity %><br>
        <%= f.text_field :quantity %>
        <%= f.label "Stock Level" %>
        <%= f.select :stock_level, options_for_select(["high", "low", "out"]) %>
        <%= f.submit "Save Change", :class => "button"  %>
      </fieldset>
      <% end %>

    </div>
  </div>
  <div class="large-3 columns"><br /></div>
</div>

