<div class="row">
  <div class="large-3 columns"><br />
  </div>
    <% if @chores.empty? %>
        <% @zip = Address.find_by(addressable_id: @house.id, addressable_type: "House").zip_code %>
        <h3 class="header-empty">You don't have a chore chart.<br>
        <%= link_to "Would you rather hire a cleaning service?", "http://lmgtfy.com/?q=cleaning+services+near+#{@zip}" %></h3>
    <% else %>
    <div id="chore_title"><h4>Chores</h4></div>

  <div id="chore_list" >

    <% @chores.each do |chore| %>
    <div class="chore">
      <% log = @user.chore_logs.where(chore_id: chore.id ) %>
      <%= button_to "Delete", chore_path(chore), method: :delete, :class => ["button tiny", "button alert", "delete_chore"], data: {confirm: "Are you sure?"}  %>
      <%= image_tag("issue-mark-not-square.png", size: "50x50", class: "issue-mark")%>
      <%= form_for :issue, url: " /houses/#{@house.id}/chores/#{chore.id}/issue", html: { class: "chore_issue"} do |f| %>
      <%= f.text_area :reason, :placeholder => "Reason" %>
      <%= f.submit "Submit Issue", class: "button tiny" %>
      <% end %>

      <div class="chore_task"><h5><%= chore.task %></h5> <br></div>
      <table class="user_chore_count">
        <thead>
          <% @users.each do |user| %>
          <th>
            <%= user.first_name %>
          </th>
          <% end %>
        </thead>
        <tbody>
          <tr>
            <% @users.each do |user| %>
            <% logs = user.chore_logs.where(chore_id: chore.id) %>
            <td>
              <%= logs.count %>
            </td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <div class="promise_issues">
        <a href="#" class="view_chore_issues"  >View Issues</a>
        <div class="view_issues" class="chore_<%=chore.id%>">
          <% chore.issues.each do |issue| %>
          <p><%= issue.user.first_name %>: <%= issue.reason %></p>
          <% end %>
        </div>
        <a href="#" class="view_chore_promises" >View promises</a>
        <div class="view_promises">
          <% if chore.user_promise %>
          <p><%= chore.user_promise.user.first_name %></p>
          <% else %>
          <p>No Promises</p>
          <% end %>
        </div>
         </div>
        <ul class="button-group round even-4">
          <li> <%= link_to "Edit", edit_chore_path(chore),method: :get, :class => ["button tiny", "edit_chore" ]  %></li>
          <li><%= link_to "Complete", chore_chore_logs_path(chore),method: :post, :class => ["button tiny","complete_log"] %></li>
          <li><%= link_to "Promise", "/chores/#{chore.id}/promise",method: :post, :class => ["button tiny", "chore_promise" ] %></li>
          <li><%= link_to 'Logs', chore_path(chore),method: :get, :class => ["button tiny", "view_log"] %></li>
        </ul>
      </div>
      <% end %>
      <% end %>

      <div id="chore_form">
        <%= render 'chores/form' %>
      </div>
      <div class="large-3 columns"><br /></div>
    </div>
