<table class="rule-table">
<tr>
  <td class="rule-content"><%= rule.content %><br>
    <%= form_for :issue, url: "/houses/#{@house.id}/rules/#{rule.id}/issue", html: { class: "rule-issue-form"} do |f| %>
      <%= f.text_area :reason, :placeholder => "Why don't you like this rule?" %>
      <%= f.submit "Submit Issue", class: "button tiny" %>
    <% end %>
    <div class="rule-issue">
      <% if rule.issues.count == 1 %>
        <p>There is 1 issue with this rule.<br>
        Can you talk it out?</p>
        <b><% rule.issues.each do |issue| %>
          <%= issue.reason %><br>
        <% end %></b>
      <% elsif rule.issues.count > 1 %>
        <p>There are <%= rule.issues.count %> issues with this rule.<br>
        Can you talk them out?</p>
        <b><% rule.issues.each do |issue| %>
          <%= issue.reason %><br>
        <% end %></b>
      <% else %>
        <p>There are no issues to display!</p>
      <% end %>
    </div>
  </td>
  <td class="rule-parts"><%= link_to "Options", house_rule_path(@house, rule), class: "options-button", remote: true %>
    <div class="options-parts">
    <ul>
      <li>Edit</li>
      <li><%= link_to "Delete", house_rule_path(@house, rule), class: "delete-button",  id:"/houses/#{@house.id}/rules/#{rule.id}", remote: true %></li>
      <li><%= link_to "View Issues", house_path(@house), class: "issue-button", remote: true %></li>
      <li><%= link_to "Create Issue", house_path(@house), class: "rule-issue-button", remote: true %></li>
    </ul>
  </div>
  </td>
</tr>
</table>

