<table class="rule-table">
<tr>
  <td><span class="rule-content"><%= rule.content %></span><br>
    <%= form_for :issue, url: "/houses/#{@house.id}/rules/#{rule.id}/issue", html: { class: "rule_issue"} do |f| %>
      <%= f.text_area :reason, :placeholder => "Reason" %>
      <%= f.submit "Submit Issue", class: "button tiny" %>
    <% end %>
    <div class="rule-issue">
      <% if rule.issues %>
        <% rule.issues.each do |issue| %>
          <%= render partial: "issue", locals: { issue: issue} %>
        <% end %>
      <% end %>
    </div>
  </td>
  <td class="rule-parts"><%= link_to "Options", house_rule_path(@house, rule), class: "options-button", remote: true %>
    <div class="options-parts">
    <ul>
      <li>Edit</li>
      <li><%= link_to "Delete", house_rule_path(@house, rule), class: "delete-button",  id:"/houses/#{@house.id}/rules/#{rule.id}", remote: true %></li>
      <li>View Issues</li>
      <li>Create Issue</li>
    </ul>
  </div>
  </td>
</tr>
</table>

